/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
                [STYLES TABLE OF CONTENTS]

1 - BODY
2 -                 
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### #####   Body   ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/
html, body{
	height: 100%;
}
body{
    background: #322f2c;
    color: #f5f5f5;
	margin: 0;
}

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### #####  Loader  ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### #####  Footer  ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/
footer{
    background-image: url('#') center center/cover no-repeat;
}

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### ##### FootNote ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/
.footnote{
    padding: 35px 0;
    background-color: #322d2c;
}
.footnote a{
    color: #f5f5f5;
    text-decoration: none;
}
.footnote a:last-child{
    margin-left: 30px;
}
.footnote a.developer{
    margin-left: 0;
}