/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
                [STYLES TABLE OF CONTENTS]

1 - BODY
2 -                 
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### #####   Body   ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/
html, body{
	height: 100%;
}
body{
    background: #322f2c;
    color: #f5f5f5;
	margin: 0;
}

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### #####  Loader  ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### #####  Footer  ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/
footer{
    background: url('https://i.postimg.cc/MpyjWKYw/footer-bg.png') center center/cover no-repeat rgba(192, 205, 41, 0.2);
}
.footsection{
    padding: 45px 0;
    margin: 40px 0 30px;
}
.footsection a{
    color: #f5f5f5;
    text-decoration: none;
}
.footnote a:last-child{
    margin-left: 30px;
}
.footnote a.developer{
    margin-left: 0;
}