/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
                [STYLES TABLE OF CONTENTS]

1 -     BODY
2 - 
3 - 
4 - 
5 - 
6 - 
7 -     PRICING
8 -     TESTIMONAL
9 -     CUSTOMERS
10 -    FOOTER
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### #####   Body   ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/
html, body{
	height: 100%;
}
body{
    background: #322f2c;
    color: #f5f5f5;
	margin: 0;
}

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### #####  Loader  ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### #####  Trust  ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/
.trust{
    padding: 75px 0;
    background-color: #c1d60d;
    color: gray;
    position: relative;
}
.trust ul{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
.trust li{
    margin-bottom: 15px;
}
.trust .gallery img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  
  .trust .gal-img {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  .trust .gal-img i {
    font-size: 72px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
  }
  
  .trust .gal-img::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  
  .trust .gal-img:hover {
    cursor: pointer;
  }
  
  .trust .gal-img:hover i {
    opacity: 1;
  }
  
  .trust .gal-img:hover::after {
    opacity: 1;
  }
  
  .trust .gal-img3 {
    top: -50%;
    left: 50%;
  }

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### ##### Pricing ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/
.price-table{
    padding: 100px 0;
}
.columns{
    float: left;
    width: 33.3%;
    padding: 10px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 100%;
    margin: auto;
    text-align: center;
}
.card .header{
    background-color: #c1d60d;
    font-size: 25px;
}
.card .price{
    color: gray;
    font-size: 22px;
}
.card .description{
    padding: 0;
    color: #322f2c;
}
.card button{
    padding: 12px;
    background-color: #c1d60d;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card:hover{
    box-shadow: 0 8px 12px 0;
}
.card button:hover{
    opacity: 0.7;
}

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### #####      Testimonial      ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/
.customer-testimonial{
    background: url('https://i.postimg.cc/63BJ8cz9/testimonial.jpg') center center/cover no-repeat rgba(192, 205, 41, 0.2);
}
.testimonial{
    padding: 95px 0 85px;
    border-bottom: 1px solid #322f2c;
}
.testimonial .img-testimonial{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.testimonial .img-testimonial img{
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 90px;
}
.testimonial h5{
    margin-top: 15px;
}
.testimonial span{
    display: inline-block;
    margin: 0 0 17px;
}
.testimonial p{
    color: #322f2c;
    font-size: 17px;
    line-height: 27px;
}
.testimonial-pagination{
    text-align: center;
    margin-top: 8px;
}
.testimonial-pagination span{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #f5f5f5;
    margin-bottom: 0;
    transition: all 0.5s ease-in-out;
}
.testimonial-pagination span:hover{
    cursor: pointer;
}
.testimonial-pagination span:not(:last-child){
    margin-right: 10px;
}
.testimonial-pagination span.swiper-pagination-active-bullet{
    width: 12px;
    height: 12px;
    background-color: white;
}

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### ##### Customers ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/
.customer{
    padding: 70px 0;
}
.customer .swiper-wrapper{
    text-align: center;
}

/*** *** *** *** *** *** *** *** *** *** *** *** *** ***
##### ##### ##### #####  Footer  ##### ##### ##### #####
*** *** *** *** *** *** *** *** *** *** *** *** *** ***/
footer{
    background: url('https://i.postimg.cc/MpyjWKYw/footer-bg.png') center center/cover no-repeat rgba(192, 205, 41, 0.2);
    position: relative;
    padding: 45px 0;
    margin: 40px 0 30px;
}
footer a{
    color: #f5f5f5;
    text-decoration: none;
}
footer a:last-child{
    margin-left: 30px;
}
footer a.developer{
    margin-left: 0;
}